<%= render 'shared/form_homepage_navigation' %>

<div class="container-fluid">
  <div class="row">
  
      <!-- Section: intro -->
      <section id="intro" class="intro">
      
        <div class="row">
          <div class="col-md-7 skitrippin-header">
            <h1 class="skitrippin-welcome">SKITRIPPIN</h1>
          </div>
        </div>
        

        <div class="slogan col-md-offset-2">
          <h2><span class="text_color"></span> </h2>
            <div class="col-md-9">
              
              <h1 class="tagline">Everything you need to chase the snow in one place</h1>
              
            </div>
        </div>

        <div class="page-scroll">
          <a href="#service" class="btn btn-circle">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>

      </section>

  <!-- Section: about -->
    <section id="about" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>About SKITRIPPIN</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
  <!-- /Section: about -->
  

  <!-- Section: How it works -->
    <section id="how-it-works" class="home-section text-center bg-gray">
    
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        
          <div class="section-heading">
          <h2 class="section-heading">How it works</h2>
          <p class="lead">We aggregate all the information you need to plan your next ski trip, in one place.</p>
          <i class="fa fa-2x fa-angle-down"></i>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="container">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>
    </div>
        <div class="row">
            <div class="col-sm-3 col-md-3">
        <div class="wow fadeInLeft" data-wow-delay="0.2s">
                <div class="service-box">
          <div class="service-icon">
            <img src="img/icons/service-icon-1.png" alt="" />
          </div>
          <div class="service-desc">
            <h5>Weather Forecast</h5>
            <p>We know you love powder days and so do we.  So we keep an eye on past and forecasted snowfall to make sure you go where the powder is best.  7 day forecasts are our specialty.</p>
          </div>
                </div>
        </div>
            </div>
      <div class="col-sm-3 col-md-3">
        <div class="wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-box">
          <div class="service-icon">
            <img src="img/icons/service-icon-2.png" alt="" />
          </div>
          <div class="service-desc">
            <h5>Mountain Conditions</h5>
            <p>When you have choices, mountain status can make all the difference. We've got the details on open skiable acres and terrain difficulty to make sure where you go best matches your skill level.</p>
          </div>
                </div>
        </div>
            </div>
      <div class="col-sm-3 col-md-3">
        <div class="wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-box">
          <div class="service-icon">
            <img src="img/icons/service-icon-3.png" alt="" />
          </div>
          <div class="service-desc">
            <h5>Getting There</h5>
            <p>Now that you've figured out where the snow is best we will help you estimate how much its going to cost to get to the mountain & stay there, including hotels and vacation rentals.</p>
          </div>
                </div>
        </div>
            </div>
      <div class="col-sm-3 col-md-3">
        <div class="wow fadeInRight" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon">
                <img src="img/icons/service-icon-4.png" alt="" />
              </div>
              <div class="service-desc">
                <h5>Resort Ranking</h5>
                <p>When you sign up and  click "The Resorts", we'll rank the mountains by what's best for you based on the combination of your skill level, forecasted weather, mountain conditions & cost. </p>
              </div>
            </div>
        </div>
      </div>
    </div> 
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
          <p class="lead">We feel a powder cough coming on.  Don't you??</p>
          <i class="fa fa-2x fa-angle-down"></i>
        </div>
      </div>
    </div>   
    </div>
  </section>
  <!-- /Section: services -->

  <!-- Section: Signup -->
    <section id="about" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>Join SKITRIPPIN</h2>
          <i class="fa fa-2x fa-angle-down"></i>
          <p class="lead">Join us and start chasing the snow with efficiency... <br>You know you want in. </p>

          </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
  <!-- /Section: about -->
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="wow shake" data-wow-delay="0.4s">
          <div class="page-scroll marginbot-30">
            <a href="#intro" id="totop" class="btn btn-circle">
              <i class="fa fa-angle-double-up animated"></i>
            </a>
          </div>
          </div>
          <p>&copy;Copyright 2014 - SKITRIPPIN. All rights reserved.</p>
        </div>
      </div>  
    </div>
  </footer>
