<div class="container-fluid new-event-form">

  <div class="page-header col-md-8 col-md-offset-2">
    <h1><b>Join SKITRIPPIN</b></h1>
    <h1><small class="lead fubu">For snow chasers, by snow chasers</small></h1>
  </div>

  <%= render "shared/form_users_new" %>
</div>
