/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require animate
 */
 
 @import 'bootstrap-sprockets';
 @import 'bootstrap';


@font-face {
    font-family: 'nexa_rust_handmadeextended';
    src: url('NexaRustHandmade-Extended-webfont.eot');
    src: url('NexaRustHandmade-Extended-webfont.eot?#iefix') format('embedded-opentype'),
         url('NexaRustHandmade-Extended-webfont.woff2') format('woff2'),
         url('NexaRustHandmade-Extended-webfont.woff') format('woff'),
         url('NexaRustHandmade-Extended-webfont.ttf') format('truetype'),
         url('NexaRustHandmade-Extended-webfont.svg#nexa_rust_handmadeextended') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  width: 100vw;
  height: 100vh;
}

#intro {
  width: 100vw;
  height: 100vh;
  background-image: image-url('intro-background.jpg');
  background-size: cover;
  display: inline-block;
  margin: 0;
  padding: 0;
}

