<div class="container-fluid">
  <div class="row">

    <div class="resorts-header">
      <div class="col-md-9 col-md-offset-1">
        <h1 class="">Mountain resorts</h1>
          <p class="lead">
            We've compiled this list of some of the biggest and best ski resorts in North America.  The resorts have been ranked based on <b>current</b> and <b>forecasted weather conditions</b>, <b>mountain conditions</b> and estimated <b>travel</b> and <b>lodging</b> costs.</p>  

          <p class="lead">
            Click any of the resorts to see more detailed information.
          </p>

          <p class="lead">
            To see a customized ranking of the resorts based on your location & skiier/snowboarder profile, <a href="/login">login</a> or <a href="/signup">signup</a>.
          </p>
      </div>
    </div>

    <!-- The Resorts listing -->
    <section id="resorts">

      <div ng-controller="MainController as main">

         <div class="resorts-listing">
          <!-- Container for holding each of the ski resort results -->
          <div class="col-md-3 resort-box" >

            <div id="resorts-list" ng-repeat='resort in main.resorts'>
              <ul>
                <li>{{ resort.name }}</li>
            
              </ul>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div> 
</div>