<!DOCTYPE html>
<html ng-app="MainApp">

  <head>
    <!-- Gets rid of the preceding hashes associated with Angular routes -->
    <base href="/">
    <title ng-bind="title"></title> 
    <title>SKITRIPPIN - Chase the powder</title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>



  <%= yield %>

  </body>

</html>
